html {
    font-size: 16px;
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    font-size: 2rem;
}

input {
    min-height: 3rem;
    border: 1px solid black;
    border-radius: 0.25rem;
}